APP_NAME=pronunt-worker-service
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
LOG_USE_COLORS=true
REQUEST_ID_HEADER=X-Request-ID
AUTH_ENABLED=false
ALLOW_UNSAFE_DEV_AUTH=true
KEYCLOAK_ISSUER=http://keycloak.pronunt.com/realms/pronunt
KEYCLOAK_AUDIENCE=pronunt-api
KEYCLOAK_JWKS_URL=http://keycloak.pronunt.com/realms/pronunt/protocol/openid-connect/certs
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
AGGREGATOR_SERVICE_URL=http://pronunt-aggregator-service:8000
