APP_NAME=pronunt-worker-service
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
LOG_USE_COLORS=true
REQUEST_ID_HEADER=X-Request-ID
HTTP_TIMEOUT_SECONDS=10
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=pronunt.events
RABBITMQ_PR_ROUTING_KEY=pull_request.normalized
RABBITMQ_PR_QUEUE=pronunt.pull_requests.normalized
AGGREGATOR_SERVICE_URL=http://pronunt-aggregator-service:8000
WORKER_CONSUMER_ENABLED=false
AUTH_ENABLED=false
ALLOW_UNSAFE_DEV_AUTH=true
KEYCLOAK_ISSUER=http://keycloak.pronunt.com/realms/pronunt
KEYCLOAK_AUDIENCE=pronunt-api
KEYCLOAK_JWKS_URL=http://keycloak.pronunt.com/realms/pronunt/protocol/openid-connect/certs
